<div class="image-upload-container">
  <div class="upload-area text-center" id="slot">
    <form action="#">
      <label for="fileInput">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </label>
      <input id="fileInput" type="file" accept="image/*" />

    </form>
  </div>
  <img id="preview" />
  <div id="edit">更改</div>
</div>



